#area{
    border: 1px solid black;
}
#area div {
    margin: 10px;
}

#area div label{
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    width: 150px;
}

#title{
    border: 1px solid black;
}

#link-keyword-input{
    width: 200px;
}

#setting-date-area{
    border: 1px solid black;
}

#body-textarea{
    height: 40%;
    width: 60%;
    vertical-align:top;
}

#button-area button{
    align-items: right;
}