:root {
    --text-color: #141414;
    --background-color: #fefefe;
    --accent-color: #ffdf12;
}

body{
    background-color: white;
}

#area{
    padding: 1.5rem;
}

#area div {
    display: flexbox;
    margin: 0.5rem;
}

.highlight{
    color: red;
}

.post-label{
    display: inline-block;
    text-align: right;
    margin-right: 0.7rem;
    width: 150px;
    height: 35px;
}

.option{
    text-align: left;
    margin: 0px;
}

#link-keyword-input, #title-input{
    width: 20%;
    height: 20px;
    border: none;
    border-bottom: 2px solid black;
    font-size: medium;
    background-color: inherit;
}

#body{
    vertical-align:top;
    justify-content: center;
}

#body div{
    margin: 0px;
}

#setting-date-area{
    flex-direction: column;
}

.date-input{
    border: none;
    border-bottom: 2px solid black;
    height: 30px;
    background-color: inherit;
}

#editor-container{
    display: inline-block;
    margin: 0px auto;
    width: 80%;
}

#submit-button {
    float: right;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: gold;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 30px;
}
#submit-button:hover{
    cursor: pointer;
}

/* float를 쓰고나서 요소들이 붕괴되는 것을 방지한다. */
#button-area::after{
    content: " ";
    display: block;
    clear: both;
}

@media only screen and (max-width: 900px) {
    body {
        display: flex;
        flex-direction: column;
    }
    #area{
        width: 70vw;
        height: auto;
        margin: auto;
    }

    #file-upload{
        display:flex;
        flex-direction:column;
    }
    #file-upload img{
        margin: auto;
    }

    #editor-container{
        width: 80%;
        padding: 0.5em;
    }
    #link-keyword-input, #title-input{
        width: 35%;
    }
    .date-input{
        width: 150px;
    }
    #file-input{
        margin-left: auto;
    }
    #body{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #editor-container{
        padding: 0;
        width: 100%;
    }
  }