#area{
    border: 1px solid black;
}
#area div {
    margin: 15px;
}

.post-label{
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    width: 150px;
}

.option{
    text-align: left;
    margin: 0px;
    /* width: 90px; */
}

#link-keyword-input{
    width: 200px;
}

#body{
    vertical-align:top;
    justify-content: center;
}

#body div{
    margin: 0px;
}

#editor-container{
    display: inline-block;
    margin: 0px auto;
    width: 80%;
}

#submit-button {
    float: right;
    padding: 5px 10px;
}

/* float를 쓰고나서 요소들이 붕괴되는 것을 방지한다. */
#button-area::after{
    content: " ";
    display: block;
    clear: both;
}

@media only screen and (max-width: 55rem) {
    body {
      display: flex;
      flex-direction: column;
    }

    #editor-container{
        width: 100%;
        padding: 0.5em;
    }
  }