.container {
    width: 100%;
    display: flex;
}

.img-container  {
    width: 50%;
    height: 80vh;
}

.img-container img {
    object-fit: contain;
    width: 95%;
    height: 100%;
}

.post-container {
    width: 45%;
    height: 80vh;
    overflow:scroll;
    /* padding-bottom: 5% 2%; */
}

.post__header {
    background-color: white;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0px; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid lightgray 1px;
    margin-top: 1em;
}

.post__header__info {
    width : 85%;
}

.post__header__info .title h1{
    margin-top : 0;
}


.post__header__info .writer {
    display: flex;
    align-items: center;
}

.post__header__info .writer img {
    width: 2em;
    height: 2em;
    border-radius: 100%;

}

.post__header__info .period {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.post__header__setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
}

.post__header__setting .toggle {
    width: 1.5em;
    height: 1em;
    text-align: center;
    border-radius: 7px;
    border: solid 0.125em var(--text-color);
}

.post__header__setting .toggle:hover {
    background-color: var(--accent-color);
}

.post__header__setting .tooltip {
    display: none;
}

.tooltip.active {
    display: flex;
    flex-direction: column;
}

#delete-button {
    display: block;
    background-color: inherit;
    font: inherit;
    border: none;
    padding: 0;
}

.content {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    border-bottom: solid lightgray 1px;
    word-wrap: break-word;
}

.news {
    width: 100%;
    border-bottom: solid lightgray 1px;
    word-wrap: break-word;
}

.news-form {
    margin-top: 1em;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    .img-container  {
        width: 100%;
    }
    .post-container {
        width: 100%;
        height: auto;
    }
}