#wp-area{
    border: 1px solid black;
}
#wp-area div {
    margin: 10px;
}

#wp-area div label{
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    width: 150px;
}

#wp-title{
    border: 1px solid black;
}

#wp-setting-date-area{
    border: 1px solid black;
}

#wp-body-textarea{
    height: 40%;
    width: 60%;
    vertical-align:top;
}

#wp-button-area button{
    align-items: right;
}