.description a {
    text-decoration: underline;
}

.description {
    margin: 5em;
    padding: 0;
}

.description li{
    list-style: none;
}

.description li div h1{
    font-size: 2.2rem;
}

.description li div p{
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1.2px;
    word-spacing: 2.2px;
    margin: auto;
    width: 85%;
}

.about-us{
    margin-bottom: 6em;
}


@media screen and (max-width: 768px) {

    .description li div h1{
        text-align: center;
    }
}