.description a {
    text-decoration: underline;
}

.description {
    margin: 5em;
    padding: 0;
}

.description li{
    list-style: none;
}

.description h1{
    font-size: 2.2rem;
}

.description li p{
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1.2px;
    line-height: 1.75rem;
    word-spacing: 2.2px;
    margin: auto;
    width: 85%;
}



@media screen and (max-width: 768px) {

    .description h1{
        text-align: center;
    }
    .description li h2{
        text-align: center;
    }
    .description li h3{
        text-align: center;
    }
}