:root {
    --text-color: #141414;
    --background-color: #fefefe;
    --accent-color: #ffdf12;
    --border-radius-size: 4px;
}

body {
    margin: 0;
    /* font-family: 'Nanum Myeongjo', serif; */
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
    border-bottom: solid lightgray 1px;
    margin-bottom: 5px;
}

.navbar__logo {
    display: flex;
    align-items: center;
    color: black;
}

.navbar__logo i {
    font-size : 30px;
}

.navbar__logo a {
    font-size: 20px;
}


.navbar__menu {
    display: flex;
    list-style: none;

    padding-left: 0;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu li:hover {
    background-color: var(--accent-color);
    border-radius: var(--border-radius-size);
}

.navbar__user {
    display: flex;
    list-style: none;
    padding-left: 0;
    color: var(--text-color);
}

.navbar__user li {
    padding: 8px 12px;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    right : 32px;
    color: var(--accent-color);
    font-size: 24px;
}

/* tooltip 관련 */
[data-tooltip-text]:hover {
	position: relative;
}

[data-tooltip-text]:hover:after {
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.8);

	-webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	color: #FFFFFF;
	font-size: 0.8rem;
    font-weight: normal;
	content: attr(data-tooltip-text);
    text-align: center;
    line-height: 1.5rem;

  margin-bottom: 10px;
	top: 130%;
	left: 0;    
	padding: 7px 12px;
	position: absolute;
	max-width: 25rem;
    height: auto;
	min-width: 50px;
	max-width: 300px;
	word-wrap: break-word;

	z-index: 9999;
}



@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 20px;
    }

    .navbar__menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar__menu li {
        text-align: center;
    }

    .navbar__user {
        display: none;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .navbar__toggleBtn {
        display: block;
    }

    .navbar__menu.active,
    .navbar__user.active {
        display: flex;
    }
}