.search-container {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input {
    width: 50%;
    height: 30px;
}

.search-container button {
    height: 30px;
}


.posts-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: auto;
    background-color: var(--background-color);
}
.post {
    display: flex;
    flex-direction: column;

    width: 18em;
    height: 21em;

    background-color: #fcfcfc;
    margin: 20px;
    border-radius: 1%;

    -moz-box-shadow:    0px 5px 13px 1px rgb(219 219 219);
    -webkit-box-shadow: 0px 5px 13px 1px rgb(219 219 219);
    box-shadow:         0px 5px 13px 1px rgb(219 219 219);
}

.img-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65%;
}

.img-container a {
    width: 100%;
}


.img-container a img {
    width: 100%;
    height: auto;
}

.img-container img:hover{
    color: gray;
    text-decoration: underline;
    transform:scale(1.1); 
}

.post-info {
    height: 35%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    font-size: 0.75em;
}

.title{
    margin: 0 auto;
    color: black;
    font-size: 1.25em;
    
    width: 100%;
    text-align: center;
    overflow:hidden; 
    white-space: nowrap;
    text-overflow:ellipsis;
}

.title:hover {
    color: gray;
    text-decoration: underline;
}

.period{
    text-align: center;
    font-size: 1.25em;
}
/* .post .bottom */

.bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.favorite {
    display: flex;
    width: 1.5em;
    height: 1.5em;

    font-size: 1.5em;
    color: var(--accent-color);
}

/* .favorite i:hover {
    cursor: pointer;
} */


/* page loading image */

.loading-img-container {
    display: flex;
    justify-content: center;
}

.loading-img-container img {
    display: none;
    width: 100px;
    height: 100px;
}

