#post-area{
    display: flex;
    width: 90vw;
    margin: auto;
}

#block1{
    margin: 1em;
}
#block2{
    margin: 2em 1em 1em 1em;
    width: 60%;
}

.highlight{
    text-align: center;
    line-height: 3rem;
    color:red;
    width: 3rem;
    height: 3rem;

}

.col {
    width: 50%;
    flex-direction: column;
}


#col2{
    margin-top: 2rem;
    width: 200px;
    height: 200px;
}

#col2:hover{
    position: fixed;
    width: 50%;
    height: 80%;
    top: 70px;
    left: 0px;
    z-index: 2;
} 

.links-container {
    width: 100%;
    align-items: center;
    margin-bottom: 5rem;
}

.link-keyword-wrapper {
    display: flex;
    align-items: center;
    width: 90%;
}

.link-target-wrapper {
    display: flex;
    align-items: center;
    width: 90%;
}

.arrow {
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    padding-left: 1.25em;
}

.link-target-label {
    width: 8rem;
}

.link-keyword-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 90%;
    height: 2rem;
    border: solid 1px rgb(195, 195, 195);
    overflow: hidden;
    padding-left: 0.5rem;
}

.keyword-check-msg {
    display: block;
    padding-left: 3rem;
    height: 0.75rem;
    font-size: 0.75rem;
}

.target-check-msg {
    display: block;
    padding-left: 3rem;
    height: 0.75rem;
    font-size: 0.75rem;
}

.link-target-container {
    display: flex;
    width: 90%;
    border: solid 1px rgb(195, 195, 195);
    overflow: hidden;
    height: 2rem;
}

.link-keyword {
    border: none;
    width: 90%;
}

.link-target {
    margin-left: 0.5rem;
    border:none;
    width: 90%;
}

#show-poster{
    object-fit: contain;
    width: 100%;
    height: 90%;
    border-radius: 10px;
    border: 3px solid black;
    background-color: white;
}
#preview-img{
    color: grey;
}

.row{
    margin-left: 2em;
    margin-top: 2em;
}

#keyword{
    font-weight: bold;
}


.file-input {
    display: none;
}

.file-upload-button {
    padding: 0.5rem;
    border:none;
    border-radius: 10px;
    margin-left: 1rem;
    border: 1px solid black;
}

.file-upload-button:hover{
    cursor: pointer;
    background-color: var(--accent-color);
}

input[type=text]:focus {
    outline: none;
}

input[type=date]{
    width: auto;
    text-align: right;
    margin-left: 1rem;
}
input[type=radio]{
    margin-left: 1rem;
}

#editor-container {
    /* width: 100%; */
}

/* button */
#submit-button{
    margin-right: 1rem;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: var(--accent-color);
    color: black;
    font-size: 1rem;
}
#tmp-button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 1rem;
}
#submit-button:hover, #tmp-button:hover{
    cursor: pointer;
}
/* float를 쓰고나서 요소들이 붕괴되는 것을 방지한다. */
#button-area::after{
    content: " ";
    display: block;
    clear: both;
}

#eventdatetime-container { 
    display: block; 
    margin: 1em; 
}

@media only screen and (max-width: 768px){
    #post-area{
        flex-direction: column;
    }
    #block1{
        width: 100%;
    }
    #block2 {
        width: 100%;
    }
    #col2{
        pointer-events: none;
        width: auto;
        margin: 0;
    }
    #col2 div{
        margin: 0;
    }
    
    #show-poster{
        margin: 0;
        /* margin-top:20px;
        margin-bottom: 20px; */
    }
    .row{
        margin-top: 1rem;
    }
    #block1{
        width: 100%;
    }
    #block2{
        margin:0;
        margin-top: 3rem;
    }
    #editor-container{
        margin: 0;
        width: 100%;
        
    }
    #preview-img {
        visibility: hidden;
    }
    input[type=text]{
        width: 100%;
    }
}